/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

input:not([type="checkbox"]) { 
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
  resize: vertical;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 80px;
}

#index {
    width: 100%;
    padding-bottom: 1px;
    background-image: url('/static/front/img/nairobi1.jpg');
    background-repeat: no-repeat;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  #index {
    background-image: url('/static/front/img/ptn.png');
  } 
}

#index #row-index {
  margin: 40px auto;
  width: 70%;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  #index #row-index {
    margin: 0 auto;
  } 
}

#blob {
    font-size: large;
    background-image: url('/static/front/img/ptn.png');
}

#blob h1 {
    text-align: center;
}

#index-search {
    padding: 10px;
    margin: 0 auto;
    background: rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  #index-search {
    width: 100%;
    padding: 0;
  } 
}

#cust-biz-links {
  padding: 0 0 1em 0;
  margin: 0 auto;
  margin-bottom: 1em;
  font-family: 'Trebuchet MS', 'Lucida Grande',
   Verdana, Lucida, Geneva, Helvetica, 
   Arial, sans-serif;
 }
 @media only screen and (min-width: 320px) and (max-width : 480px) {
  #cust-biz-links {
    margin: 0 auto;
    width: 100%;
  } 
}

#cust-biz-links ul li h4 i {
  color: #00B2B2;
}

#cust-biz-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  }
  
#cust-biz-links li {
  border-bottom: 1px solid #90bade;
  margin: 0;
}

 #cust-biz-links li a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border-left: 10px solid #00B2B2;
  border-right: 10px solid #7CEEFE;
  background-color: #21E4FF;
  color: #fff;
  text-decoration: none;
  width: 100%;
  } html>body #cust-biz-links li a {
  width: auto;
  } #cust-biz-links li a:hover {
  border-left: 10px solid #1c64d1;
  border-right: 10px solid #5ba3e0;
  background-color: #2586d7;
  color: #fff;
  }

#index-search input {
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}

#index-search input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

#index-search input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

#index-search input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#index-search input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
#index-search button {
    width: 80px;
    color: #fff;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.container-fluid {
    background-color: #ffffff;
}

.scrollable-menu {
    max-height: 200px;
    overflow-x: auto;
}

#jumbo {
    margin: 20px auto;
}

.links-panel {
    margin: 20px auto;
    border: none;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  .links-panel {
    width: 100%;
  } 
}

.links-panel .row div {
    margin-bottom: 10px;
    text-align: center;
}

.links-panel .row div i {
    color: #21E4FF;
}

.upvote {
    margin-top: 10px;
}

.lib-panel {
    margin-bottom: 20px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}

.lib-panel .lib-row.lib-header {
    font-size: 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 4px 0 4px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    display: block;
    font-size: 13px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.lib-item {
    padding: 0;
    margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  .lib-item {
    width: 100%; 
  } 
}

#county-nairobi {
    display: none;
}

#text-cms {
    font-size: large;
    display: block;
    background-color: #fff;
    margin: 0 0 10px 0;
}

@media only screen and (min-width: 320px) and (max-width : 480px) {
  #business {
    width: 100%; 
  } 
}

#business .panel-body {
    padding-top: 15px;
}

#business .row .panel-body h2 {
    font-weight: bolder;
    margin: 0 0 0 0;
}

.breadcrumb li {
    display: inline;
}
.breadcrumb li+li:before {
    content:"» ";
}

.info-panel {
    margin: 10px auto;
    width: 70%;
}

.info-panel .panel-body {
    padding-top: 0;
}

.info-top {
    width: 100%;
}

.info-top div span {
    margin-left:auto; margin-right:0;
}

#comment {
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  #comment {
    width: 100%; 
  } 
}

#comment .panel-body {
    padding-top: 5px;
}

#comments dd p {
  position:relative;
  color: #FFF;
  background-color: #5BC0DE;
  padding:15px;
  margin:1em 0 3em;
}

#comments dd {
    margin: 0 0 0 10px;
}

#id_comment {
    margin-bottom: 5px;
    width: 100%;
    height: 100px;
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    line-height: 150%; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
}

#response-comment {
    color: #B1E3FE;
}

#id_honeypot {
    display: none;
}

#modal-signup .modal-dialog .modal-content .modal-body p {
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 20px 0 20px; 
}

#modal-signup .modal-dialog .modal-content .modal-body p span {
    background:#fff; 
    padding:0 10px; 
}

#modal-dialog-signup {
    width: 300px;
}

.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}

.post {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 30%;
    border-radius: 0;
}

@media only screen and (min-width: 320px) and (max-width : 480px) {
  .post {
    width: 100%; 
  } 
}

.image-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.image-upload #id_image {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#panel-accounts {
    width: 50%;
    margin: 100px auto;
}

#landing .col-md-3 .panel-body a {
    margin-bottom: 30px;
}

#landing .col-md-3 .panel-body p {
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 20px 0 20px;     
}

#landing .col-md-3 .panel-body p span {
    background: #fff; 
    padding:0 10px;     
}

#landing .col-md-3 .panel-heading {
    background-image: none;
    background-color: #FFB000;
    font-weight: bolder;
    color: white;    
}

#landing .col-md-9 .panel-heading {
    background-image: none;
    background-color: #21E4FF;
    font-weight: bolder;
    color: white;
}

#landing .col-md-9 ul li {
    margin-bottom: 10px;
}

#landing .col-md-9 ul li i {
    color: #FF4343;
}

#landing .col-md-12 h1 {
     font-size: 16px !important;
     /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

     width: 50%;
        
     position: relative;
     background: #ba89b6;
     color: #fff;
     text-align: center;
     padding: 1em 2em; /* Adjust to suit */
     margin: 2em auto 3em;
}

#landing .col-md-12 h1:before, #landing .col-md-12 h1:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #986794;
    z-index: -1;
}

#landing .col-md-12 h1:before {
     left: -2em;
     border-right-width: 1.5em;
     border-left-color: transparent; 
}

#landing .col-md-12 h1:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;    
}

#landing .col-md-12 h1 .ribbon-content:before, #landing .col-md-12 h1 .ribbon-content:after {
     content: "";
     position: absolute;
     display: block;
     border-style: solid;
     border-color: #804f7c transparent transparent transparent;
     bottom: -1em;
}

#landing .col-md-12 h1 .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

#landing .col-md-12 h1 .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

#logo-landing {
    margin: 5px auto;
    display: block;
}

#col-email-login {
     border-right: thick double #C2C2C2;
}

#set-password {
    width: 200px;
    margin: 0 auto;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.mega-dropdown {
  position: static !important;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  .index-toggle {
    color: #21E4FF;
  } 
}

.mega-dropdown-menu {
    margin: 0 20PX 0 0;
    padding: 20px 0px;
    width: 50%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #e7e7e7;
    /* Set the fixed height of the footer here */
    height: 80px;
}

footer .container .row .col-md-4 {
    text-align: center;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  footer {
    background-image: none;
    height: 80px; 
  } 
}

.card-biz {
    border-radius: 3px;
    padding: 0px;
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 1px #FFF inset;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.08);
}