/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

input:not([type="checkbox"]) { 
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
  resize: vertical;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #F7F7F7;
}

#index {
    width: 100%;
    padding-bottom: 20px;
    background-image: url('/static/front/img/nairobi1.jpg');
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  #index {
    background-image: url('/static/front/img/ptn.png');
  } 
}

#blob {
    font-size: large;
    background-image: url('/static/front/img/ptn.png');
}

#blob h1 {
    text-align: center;
}

#index-search {
    width: 100%;
    padding: 15px;
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

#index-search input {
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}

#index-search input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

#index-search input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

#index-search input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#index-search input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
#index-search button {
    width: 80px;
    color: #fff;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  #index-search button {
    width: 40px; 
  } 
}

.container-fluid {
    background-color: #ffffff;
}

.scrollable-menu {
    max-height: 200px;
    overflow-x: auto;
}

#container-fluid-index {
    background-color: transparent;
}

.icon-bar-i {
    background-color: #FFB000;
}

#jumbo {
    margin: 20px auto;
}

#links-panel {
    width: 80%;
    margin: 20px auto;
    border: none;
}

#links-panel .row div {
    margin-bottom: 10px;
    text-align: center;
}

#links-panel .row div i {
    color: #21E4FF;
}

.upvote {
    margin-top: 10px;
}

.heading-businesses {
    margin: 0 0 10px 213px;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  .heading-businesses {
    margin: 0 0 10px 0; 
  } 
}
.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 4px 0 4px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    display: block;
    font-size: 13px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.lib-item {
    padding: 0;
    width: 60%;
    margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  .lib-item {
    width: 90%; 
  } 
}

#county-nairobi {
    display: none;
}

#text-cms {
    font-size: large;
    display: block;
    background-color: #fff;
    margin: 0 0 10px 0;
}

@media only screen and (min-width: 320px) and (max-width : 480px) {
  #business {
    width: 100%; 
  } 
}

#business .panel-body {
    padding-top: 15px;
}

#business .row .col-md-7 .panel .panel-body h1 {
    font-weight: bolder;
    margin: 0 0 8px 0;
}

#business .row .panel-body h2 {
    font-weight: bolder;
    margin: 0 0 0 0;
}

.breadcrumbs {
    /*centering*/
    width: 45%;
    margin: 0 auto;
    overflow: hidden;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  .breadcrumbs {
    display: none; 
  } 
}

.breadcrumbs a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 60px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumbs a:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumbs a:first-child:before {
    left: 14px;
}
.breadcrumbs a:last-child {
    border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
    padding-right: 20px;
}

/*hover/active styles*/
.breadcrumbs a.active, .breadcrumbs a:hover{
    background: #333;
    background: linear-gradient(#333, #000);
}
.breadcrumbs a.active:after, .breadcrumbs a:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumbs a:after {
    content: '';
    position: absolute;
    top: 0; 
    right: -18px; /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 36px; 
    height: 36px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    /*stylish arrow design using box shadow*/
    box-shadow: 
        2px -2px 0 2px rgba(0, 0, 0, 0.4), 
        3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
        5px - for rounded arrows and 
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumbs a:last-child:after {
    content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumbs a:before {
    content: counter(flag);
    counter-increment: flag;
    /*some styles now*/
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #444;
    background: linear-gradient(#444, #222);
    font-weight: bold;
}

.flat a, .flat a:after {
    background: white;
    color: black;
    transition: all 0.5s;
}

.flat a:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
}

.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
    background: #9EEB62;
}

.info-panel {
    margin: 10px auto;
    width: 70%;
}

.info-panel .panel-body {
    padding-top: 0;
}

.info-top {
    width: 100%;
}

.info-top div span {
    margin-left:auto; margin-right:0;
}

#comment {
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
@media only screen and (min-width: 320px) and (max-width : 480px) {
  #comment {
    width: 100%; 
  } 
}

#comment .panel-body {
    padding-top: 5px;
}

#comments dd p {
  position:relative;
  color: #FFF;
  background-color: #5BC0DE;
  padding:15px;
  margin:1em 0 3em;
}

#comments dd {
    margin: 0 0 0 10px;
}

#id_comment {
    margin-bottom: 5px;
    width: 100%;
    height: 100px;
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    line-height: 150%; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
}

#response-comment {
    color: #B1E3FE;
}

#id_honeypot {
    display: none;
}

#modal-signup .modal-dialog .modal-content .modal-body p {
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 20px 0 20px; 
}

#modal-signup .modal-dialog .modal-content .modal-body p span {
    background:#fff; 
    padding:0 10px; 
}

#modal-dialog-signup {
    width: 300px;
}

.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}

#footer {
    width:100%;
    bottom:0;
    left: 0;
    background-image: url('/static/front/img/concrete_seamless.png');
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #C9C1C1;
    border-top: 1px solid #C9C1C1;
}

#footer .row div {
    text-align: center;
}

.post {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 30%;
    border-radius: 0;
}

@media only screen and (min-width: 320px) and (max-width : 480px) {
  .post {
    width: 100%; 
  } 
}

.image-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.image-upload #id_image {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#search-box {
    width: 70%;
    margin: 0 auto;
    padding: 5px;
}

#panel-accounts {
    width: 50%;
    margin: 100px auto;
}

#landing .col-md-3 .panel-body a {
    margin-bottom: 30px;
}

#landing .col-md-3 .panel-body p {
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 20px 0 20px;     
}

#landing .col-md-3 .panel-body p span {
    background: #fff; 
    padding:0 10px;     
}

#landing .col-md-3 .panel-heading {
    background-image: none;
    background-color: #FFB000;
    font-weight: bolder;
    color: white;    
}

#landing .col-md-9 .panel-heading {
    background-image: none;
    background-color: #21E4FF;
    font-weight: bolder;
    color: white;
}

#landing .col-md-9 ul li {
    margin-bottom: 10px;
}

#landing .col-md-9 ul li i {
    color: #FF4343;
}

#landing .col-md-12 h1 {
     font-size: 16px !important;
     /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

     width: 50%;
        
     position: relative;
     background: #ba89b6;
     color: #fff;
     text-align: center;
     padding: 1em 2em; /* Adjust to suit */
     margin: 2em auto 3em;
}

#landing .col-md-12 h1:before, #landing .col-md-12 h1:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #986794;
    z-index: -1;
}

#landing .col-md-12 h1:before {
     left: -2em;
     border-right-width: 1.5em;
     border-left-color: transparent; 
}

#landing .col-md-12 h1:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;    
}

#landing .col-md-12 h1 .ribbon-content:before, #landing .col-md-12 h1 .ribbon-content:after {
     content: "";
     position: absolute;
     display: block;
     border-style: solid;
     border-color: #804f7c transparent transparent transparent;
     bottom: -1em;
}

#landing .col-md-12 h1 .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

#landing .col-md-12 h1 .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

#logo-landing {
    margin: 5px auto;
    display: block;
}

#col-email-login {
     border-right: thick double #C2C2C2;
}

#set-password {
    width: 200px;
    margin: 0 auto;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}