{% extends "base.html" %}

{% load staticfiles %}

{% load comments %}

{% block title %}Search Results {% endblock %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'accounts/css/vendor/bootstrap-social.css' %}">
{% endblock %}

{% block content %}
                <h1 class="heading-businesses">Showing {{ page.object_list|length }} of {{ page.paginator.count }} results...</h1>
                {% if query %}
                {% for result in page.object_list %}
                {% get_comment_count for result.object as comment_count %}
                <div class="lib-item" data-category="view">
                    <div class="lib-panel">
                        <div class="row box-shadow">
                            <div class="col-md-3">
                            {% if result.object.image %}
                            <img src="{{ result.object.image.url }}" alt="{{ result.object.name|linebreaksbr }}" width="100" height="105" class="img-square">
                            {% else %}
                            <img src="/static/front/img/placeholder-640x480.png" height="100" width="105" class="img-square" alt="{{ result.object.name|linebreaksbr }}">
                            {% endif %}
                            </div>
                            <div class="col-md-9">
                                <div class="lib-row lib-header">
                                    <b><a href="{{ result.object.get_absolute_url }}">{{ result.object.name|truncatechars:26 }}</a></b>
                                    <div class="lib-header-seperator"></div>
                                </div>
                                <div class="lib-row lib-desc">
                                    <small>{{ result.object.street_address }} | {{ result.object.email }} | {{ result.object.phone_number }}</small>
                                    <small class="text-primary">{{ result.object.vote_set.count }} recommendation{{ result.object.vote_set.count|pluralize:"s" }}</small>
                                    <small class="text-success">{{ comment_count }} review{{ comment_count|pluralize:"s" }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <i>Sorry, no results found.</i>
                {% endfor %}
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
{% endblock %}
