{% extends 'base.html' %}
{% load comments %}
{% block title %}{{ business }}{% endblock %}
{% block content %}
	<div class="panel panel-default info-panel">
	  	<div class="panel-body">
	  		{% if business.image %}
	    	<img src="{{ business.image.url }}" height="400" width="767" class="img-rounded" alt="Rounded Image">
	    	{% else %}
	    	<img src="/static/front/img/placeholder-640x480.png" height="400" width="767" class="img-rounded" alt="Rounded Image">
	    	{% endif %}
	    	<div id="info-business">
	    		<h1>{{ business }}</h1>
	    		<p>{{ business.description }}</p>
	    		<kbd>{{ business.phone_number }}</kbd> <i>{{ business.email }}</i>
	  		</div>
	  	</div>
	</div>
 	<div id="comment">
 		<h4 class="lead">Your review</h4>
 		<div id="response-comment"></div>
		{% if user.is_authenticated %}
		    {% get_comment_form for business as form %}
		    <form id="form-comment" action="{% comment_form_target %}" method="POST">
		    {% csrf_token %}
		    {{ form.comment }}
		    {{ form.honeypot }}
		    {{ form.content_type }}
		    {{ form.object_pk }}
		    {{ form.timestamp }}
		    {{ form.security_hash }}
		    <button type="submit" class="btn btn-info btn-sm">Add review</button>
		    </form>
		{% else %}
		    <p>Please <a href="{% url 'registration:login' %}">log in</a> to leave a review.</p>
		{% endif %}
 	</div>
	<div class="comments">
	{% render_comment_list for business %}
	{{ comment.user.get_profile.firstname }}
	</div>
{% endblock %}