{% extends 'base.html' %}

{% load staticfiles %}

{% load comments %}

{% block title %}
	{% if category %}{{ category }} Businesses in Nairobi{% endif %}
	{% if county %}{{county}}{% endif %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
<link rel="stylesheet" href="{% static 'accounts/css/vendor/bootstrap-social.css' %}">
<meta name="description" content="View emails, phone numbers, locations and other information about businesses under the {{ category }} category in Nairobi. Also view their user ratings and reviews.">
{% endblock %}

{% block content %}
		    	{% if category %}
		    	<h1 class="heading-businesses">You are viewing the <b>{{ category }}</b> category...</h1>
		    	{% else %}
		    	<h1 class="heading-businesses">You are viewing businesses in <b>{{ county }}</b> county...</h1>
		    	{% endif %}
				{% for business in businesses %}
				{% get_comment_count for business as comment_count %}
	            <div class="lib-item" data-category="view">
	                <div class="lib-panel">
	                    <div class="row box-shadow">
	                        <div class="col-md-6">
						  	{% if business.image %}
							<img src="{{ business.image.url }}" alt="{{ business.name }}" width="100" height="105" class="img-square">
							{% else %}
							<img src="/static/front/img/placeholder-640x480.png" height="100" width="105" class="img-square" alt="{{ business.name }}">
							{% endif %}
	                        </div>
	                        <div class="col-md-6">
	                            <div class="lib-row lib-header">
	                                <b><a href="{{ business.get_absolute_url }}">{{ business.name|truncatechars:26 }}</a></b>
	                                <div class="lib-header-seperator"></div>
	                            </div>
	                            <div class="lib-row lib-desc">
	                                <small>{{ business.street_address }} | {{ business.email }} | {{ business.phone_number }}</small>
									<small class="text-primary">{{ business.vote_set.count }} recommendation{{ business.vote_set.count|pluralize:"s" }}</small>
							      	<small class="text-success">{{ comment_count }} review{{ comment_count|pluralize:"s" }}</small>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
				{% empty %}
		    	Sorry, no business listings under <i>{% if category %}{{ category }}{% endif %}{% if county %}{{ county }}{% endif %}</i>.
				{% endfor %}
{% endblock %}
{% block js %}
<script src="{% static 'reviews/js/vendor/jquery.raty.js' %}"></script>
{% endblock %}