{% extends 'base.html' %}
{% block title %}{{ category }}{% endblock %}
{% block content %}
<div class="panel panel-default info-panel">
  <div class="panel-body">
	<ul class="list-unstyled">
	{% for business in businesses %}
	    <li>
	    	<p>{{ business.name }}</p>
	    	<p>{{ business.county }} County</p>
	    	<p>{{ business.street_address }}</p>
	    	<p>{{ business.email }}</p>
	    </li>
	{% empty %}
	    <li>Sorry, no businesses under "{{ category }}".</li>
	{% endfor %}
	</ul>
  </div>
</div>
<div class="card">
   <div class="card-heading image">
      <img src="holder.js/46x46" alt=""/>
      <div class="card-heading-header">
         <h3>Simple News Card</h3>
         <span>Published today - 08.34 AM</span>
      </div>
   </div>
   <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      </p>
   </div>
   <div class="card-media">
      <a class="card-media-container" href="#">
         <img src="holder.js/500x300/social" alt="media"/>
      </a>
   </div>
   <div class="card-actions">
      <button class="btn">+1</button>
      <button class="btn">Share</button>
   </div>
</div>
{% endblock %}