{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}Business Directory, Reviews and Ratings in Kenya{% endblock %}
{% block content %}
        <!--<div id="jumbotron-panel" class="panel panel-default">
          <h1>Best Rated Companies in Kenya</h1>
        </div>-->
        <div id="links-panel">
          	<div class="row">
          	{% for category in categories %}
             	<div class="col-md-3">
          			<a href="{{ category.get_absolute_url }}"><i class="{{ category.icon }} fa-4x"></i></a>
          		</div>
          	{% endfor %}
          </div>
        </div>      
{% endblock %}
