{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <title>Bizbay</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'front/css/vendor/bootstrap.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
      <link rel="stylesheet" href="{% static 'front/css/main.css' %}">
      <link rel="stylesheet" href="{% static 'accounts/css/vendor/bootstrap-social.css' %}">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/png" href="{% static 'front/img/favicon.png' %}"/>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <div id="index">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="{% url 'front:index' %}"><img src="{% static 'front/img/bizbay.png' %}" height="30"/></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <a href="{% url 'front:add_business' %}">
                <li>
                  <button class="btn btn-danger navbar-btn btn-md">
                    <i class="glyphicon glyphicon-plus"></i> Add a Business
                  </button>
                  </li>
                </a>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/blog/">Blog</a></li>
                {% if areas %}
                <li class="dropdown mega-dropdown">
                  <a href="#" class="dropdown-toggle index-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-map-marker"></i> Browse by Area <span class="caret"></span></a>
                  <ul class="dropdown-menu mega-dropdown-menu row">
                    {% for area in areas %}
                    <li class="col-sm-3">
                      <ul>
                        <li><a href="{{ area.get_absolute_url }}">{{ area }}</a></li>
                      </ul>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'django.contrib.auth.views.logout' %}?next=/">Sign Out</a></li>
                  </ul>
                </li>
                {% else %}
                <li>
                  <button id="signup" data-target="#modal-signup" data-toggle="modal" class="btn btn-success navbar-btn btn-md">Sign Up</button>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
    		<div id="search-box">
          	<form id="index-search" action="/business/search?=" method="get">
              	<div class="input-group">
  	                <input type="text" name="q" class="form-control" placeholder="Search for over 1000 businesses in Nairobi">
  	                <span class="input-group-btn">
  	                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
  	                </span>
                  </div>
          	</form>
        </div>
      	<div id="links-panel" class="panel panel-default">
      		<div class="panel-body">
            		<div class="row">
            		{% for category in categories %}
               		<div class="col-md-3">
            				<a href="{{ category.get_absolute_url }}" title="{{ category }}"><i class="{{ category.icon }} fa-2x"></i><p>{{ category }}</p></a>
            			</div>
            		{% endfor %}
            		</div>
        		</div>
     		</div>
      </div>
      <div id="blob">
        <div class="container">
          <img id="jumbo" src="{% static 'front/img/favicono.png' %}" class="img-responsive" width="200" height="200">
          <h1><b><i>Bizbay - Find a business near you.</i></b></h1>
          <div class="row">
            <div class="col-md-6">
              <p>Bizbay is Nairobi's first hyperlocal business directory that helps you find businesses in your neighbourhood. We have listed local establishments by their names, locations and contact details across different industries.
              </p>
              <p>Bizbay connects businesses with communities around neighbourhoods in the city. It is visual, simple and a breeze to use. It is also fun, friendly and safe place to find businesses that sell what you need in your area, wherever that may be.</p>
              <p>Through Bizbay, users are able to post reviews and ratings of businesses they have visited. These crowd sourced reviews enable members of the community to give opinions on how they feel about establishments they've dealt with.</p>
              <p>We also allow registered users to add businesses that are not already listed on the site. You do not need to be tech savvy to create a business listing on Bizbay. Whether you want to add hundreds of businesses or just a few, you can get started in no time.</p>
              <p>Listed businesses get the chance of being visible online. Target your listings locally by specifying the Nairobi area in which it is located as well as the category in which it operates in.</p>
            </div>
            <div class="col-md-6">
              <p>Local and in-person commerce brings neighbours together and strengthens local economies. Bizbay is about what's right next door.You do not need to travel a long distance just to buy an item or a service you could have found in your estate.</p>
              <p>On our listings, you’re not flooded with tons of irrelevant results. When listings are fewer and nearby, it creates a cozy environment for the local community to get to know one another. Local commerce also means less static and fewer scams.</p>
              <p>We've carefully crafted Bizbay to give honest people a trusted environment to add businesses and review them. As a member-based directory, we're able to weed out the spammers and fraudsters.</p>
              <p>But it’s not only about safety; seeing the the business you're visiting and hearing first hand its backstory, adds a layer of richness to the interaction that is difficult to replicate on the Web.</p>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p><a href="/about/about-us/">About Bizbay</a></p>
              <p><a href="/about/contacts/">Contact Bizbay</a></p>
              <p><a href="">Claim Your Business</a></p>
            </div>
            <div class="col-md-4">
              <p><a href="">FAQs</a></p>
              <p><a href="/about/tos/">Terms of Service</a></p>
              <p><a href="/blog/">Blog</a></p>
            </div>
            <div class="col-md-4">
              <p><a href="/privacy-policy/">Privacy Policy</a></p>
              <p><a href="">Content Guidelines</a></p>
              <p><a href="">Business Support</a></p>
            </div>
          </div>
        </div>
      </footer>
      <!-- Modal -->
      <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div id="modal-dialog-signup" class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
            </div>
            <div class="modal-body">
                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i>
              Sign up with Facebook
            </a>
            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-block btn-social btn-google">
                <i class="fa fa-google"></i>
              Sign up with Google
            </a>
            <p><span>Log In</span></p>
            <form action="{% url 'django.contrib.auth.views.login' %}?next={{next}}" method="post" role="form">
            {% csrf_token %}
              <div id="col-username-login">
                <div class="form-group">
                  <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary form-control" type="submit">Log in</button>
                </div>
              </div>
            </form>
            </div>
            <div class="modal-footer">
                <span>By signing up, I agree to Bizbay's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</span>
            </div>
          </div>
        </div>
      </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="{% static 'front/js/vendor/bootstrap.min.js' %}"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66704501-1', 'auto');
        ga('send', 'pageview');
      </script>
    </body>
</html>