{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Add a Business{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'front/css/vendor/dropzone.css' %}">
{% endblock %}
{% block content %}
    <div class="row panel panel-default post">
      <div class="panel-body">
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
        <form action="" enctype='multipart/form-data' method="post">
        {% csrf_token %}
          <div class="col-md-12">
            <div class="form-group has-feedback {% if form.name.errors %} alert alert-danger {% endif %}">
              {{ form.name }}
              <i class="glyphicon glyphicon-leaf form-control-feedback"></i>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group {% if form.category.errors %} alert alert-danger {% endif %}">
              {{ form.category }}
            </div>
          </div>
          <div class="col-md-12">
            <div id="county-nairobi" class="form-group {% if form.county.errors %} alert alert-danger {% endif %}">
              {{ form.county }}
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group has-feedback {% if form.street_address.errors %} alert alert-danger {% endif %}">
               {{ form.street_address }}
               <i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group has-feedback {% if form.email.errors %} alert alert-danger {% endif %}">
               {{ form.email }}
              <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group has-feedback {% if form.phone_number.errors %} alert alert-danger {% endif %}">
               {{ form.phone_number }}
               <i class="glyphicon glyphicon-phone form-control-feedback"></i> 
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group has-feedback {% if form.phone_number.errors %} alert alert-danger {% endif %}">
               <input type="text" class="form-control" name="tags" placeholder="Tags (e.g. hotel, five-star, seafood)">
               <i class="glyphicon glyphicon-tags form-control-feedback"></i> 
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group has-feedback {% if form.website.errors %} alert alert-danger {% endif %}">
               {{ form.website }}
               <i class="glyphicon glyphicon-globe form-control-feedback"></i>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group has-feedback {% if form.description.errors %} alert alert-danger {% endif %}">
               {{ form.description }} 
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group {% if form.image.errors %} alert alert-danger {% endif %}">
              <div class="input-group">
                <input id="uploadFile" type="text" class="form-control" placeholder="Choose File" disabled="disabled" />
                <span class="image-upload input-group-addon">
                 Select image {{ form.image }}
                 </span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button type="submit" class="form-control btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'front/js/vendor/dropzone.js' %}"></script>
{% endblock %}
