{% extends "cms/base.html" %}
{% load cms_tags menu_tags %}
{% load cms_tags %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="text-cms" class="row">
	<div class="col-md-7">
  	{% placeholder template_1_content %}
  </div>
  <div class="col-md-5">
  	<h2 id="posts-recent" class="text-muted lead">Share This</h2>
  		<!-- AddToAny BEGIN -->
		<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
			<a class="a2a_button_facebook"></a>
			<a class="a2a_button_twitter"></a>
			<a class="a2a_button_google_plus"></a>
			<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
		</div>
		<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
		<h2 id="posts-recent" class="text-muted lead">Categories</h2>
	    <ul class="list-unstyled">
        {% show_menu %}
      </ul>
    <div class="fb-page" data-href="https://www.facebook.com/Bizbay-982086168480333" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Bizbay-982086168480333"><a href="https://www.facebook.com/Bizbay-982086168480333">Bizbay</a></blockquote></div></div>
  </div>
</div>
{% endblock %}