{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Log in{% endblock %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'accounts/css/vendor/bootstrap-social.css' %}">
{% endblock %}

{% block content %}
		<div id="panel-accounts" class="panel panel-default">
			<div class="panel-body">
				<h1>Log in to Bizbay</h1>
				<div class="row">
					<form action="{% url 'django.contrib.auth.views.login' %}?next={{next}}" method="post" role="form">
					{% csrf_token %}
						<div id="col-username-login" class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" name="username" placeholder="Username">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="password" placeholder="Password">
							</div>
							<div class="form-group">
								<button class="btn btn-primary" type="submit" class="form-control">Log in</button>
							</div>
						</div>
					</form>
					<div class="col-md-6">
					    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-block btn-social btn-facebook">
					        <i class="fa fa-facebook"></i>
							Sign in with Facebook
					    </a>
					    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-block btn-social btn-google">
					        <i class="fa fa-google"></i>
							Sign in with Google
					    </a>
				    </div>
				</div>
		    </div>
	    </div>
{% endblock %}
